@use '../../styles/variables' as v;
@use '../../styles/global' as *;

#technologies {
  @extend .section;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    color: v.$accent-color;
    position: relative;
    
    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 3px;
      background: linear-gradient(to right, v.$accent-color, v.$accent-secondary);
      margin: 0.8rem auto 0;
    }
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
    justify-content: center;
    gap: 2.1rem;
    width: 100%;
    max-width: v.$max-width;
    margin: 0 auto;
  }

  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 130px; /* Altura fija */
    width: 130px; /* Ancho fijo */
    padding: 1rem;
    border-radius: v.$border-radius;
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--tech-color);
    transition: all 0.3s ease;
    text-align: center;
    border: 1px solid var(--tech-color);
    box-sizing: border-box;

    &:hover {
      background-color: var(--tech-color);
      color: #ffffff;
      text-shadow: 0 0 4px #000;
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(var(--tech-color, v.$accent-color), 0.1);
    }

    .tech-icon {
      font-size: 2.5rem;
      filter: drop-shadow(0 0 4px #000);
    }

    .tech-name {
      font-size: 1rem;
      font-weight: 600;
     
    }
  }

  @media (max-width: 768px) {
    .tech-grid {
      grid-template-columns: repeat(auto-fit, minmax(110px, 110px));
      gap: 1.2rem;
    }
    
    .tech-item {
      height: 110px;
      width: 110px;
      
      .tech-icon {
        font-size: 2.2rem;
      }
      .tech-name {
            font-size: 0.9rem;
            font-weight: 600;

            
      }
    }
    

  }

  @media (max-width: 480px) {
    .tech-grid {
      grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
      gap: 1rem;
    }
    
    .tech-item {
      height: 90px;
      width: 90px;
      padding: 0.8rem;
      
      .tech-icon {
        font-size: 1.8rem;
      }
      
      .tech-name {
        font-size: 0.7rem;
      }
    }
  }

  @media (max-width: 360px) {
    .tech-grid {
      grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
      gap: 0.6rem;
    }
    
    .tech-item {
      height: 80px;
      width: 80px;
      
      .tech-icon {
        font-size: 1.6rem;
      }
      
      .tech-name {
        font-size: 0.6rem;
      }
    }
  }
}